apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-findcar
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-findcar
  template:
    metadata:
      labels:
        app: backend-findcar
    spec:
      containers:
        - name: backend-findcar
          image: linspecteur/backend-findcar:latest
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: backend-findcar
spec:
  selector:
    app: backend-findcar
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-pollution
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-pollution
  template:
    metadata:
      labels:
        app: backend-pollution
    spec:
      containers:
        - name: backend-pollution
          image: linspecteur/backend-pollution:latest
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: backend-pollution
spec:
  selector:
    app: backend-pollution
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 5001
      targetPort: 5001
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: linspecteur/frontend:latest
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
