apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: linspecteur/frontend:v1
          ports:
            - containerPort: 80
          env:
            - name: BACKEND_FINDCAR_HOST
              value: "backend-findcar"
            - name: BACKEND_FINDCAR_PORT
              value: "5000"
            - name: BACKEND_POLLUTION_HOST
              value: "backend-pollution"
            - name: BACKEND_POLLUTION_PORT
              value: "5001"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  type: NodePort
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30080
